{% load i18n %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at itandwisdom.com{% endblocktrans %}</p>
<p>{% blocktrans %}Please go to the{% endblocktrans %} <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% blocktrans %}following page{% endblocktrans %}</a>
{% blocktrans with username=user.get_username %}and choose a new password.</p>
<p>Your username, in case you've forgotten: {{ username }}
{% endblocktrans %}</p>
<p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>
<p>{% blocktrans %}The itandwisdom.com team{% endblocktrans %}</p>
