{% extends "blog/base.html" %}
{% load i18n %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request %}
{% endblock %}
{% block main_content %}
    <div class="reg-container col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <div class="alert alert-success">
            <strong>{% blocktrans %}Success!{% endblocktrans %}</strong>
            <p>{% blocktrans %}You've successfully registered. Now you need activate your account. Check your email.{% endblocktrans %}</p>
            <p>{% blocktrans %}If you haven't recieve activation link you can{% endblocktrans %} <a href="{% url "new_activation_link" username %}">{% blocktrans %}request new activation link{% endblocktrans %}</a></p>
        </div>
    </div>
{% endblock %}