{% extends "blog/base.html" %}
{% load i18n %}
{% block title %}
    IT and Wisdom - {% blocktrans %}Sign Up{% endblocktrans %}
{% endblock %}
{%  block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request %}
{% endblock %}
{% block main_content %}
    <div class="reg-container col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2 class="reg">{% blocktrans %}Sign Up{% endblocktrans %}</h2>
    {% load blog_tags %}
    {{ form.media }}
    <form enctype='multipart/form-data' method="POST" class="reg-form form-horizontal" role="form" novalidate>
        {% csrf_token %}
        {% load blog_tags %}
        {% for field in form.main_fields %}
        <div class="form-group {% if field.errors %}has-error error{% endif %}">
            <label class="col-lg-3 col-md-4 control-label" for="{{ field.name }}">{{ field.label }}
                {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
            </label>
            <div class="col-lg-5 col-md-7">
            {% if field|need_form_control %}
                {{ field|add_class:"form-control" }}
            {% else %}
                {{ field }}
            {% endif %}
            <label class="help-block text-danger" for="{{ field.name }}">{% for error in field.errors %} {{error}} {% endfor %}</label>
            </div>
        </div>
        {% endfor %}
        <ul class="nav nav-pills nav-stacked show_add col-lg-8 col-md-11">
            <li data-toggle="collapse" data-target="#additional-fields" class="active">
                <a>{% blocktrans %}You also can provide additional information about yourself, if you'd like{% endblocktrans %}</a>
            </li>
        </ul>
        <div id="additional-fields" class="collapse">
        {% for field in form.additional_fields %}
            <div class="form-group {% if field.errors %}has-error error{% endif %}">
                <label class="col-lg-3 col-md-4 control-label" name="{{ field.name }}" for="email">
                    {{ field.label }}
                </label>
                <div class="col-lg-5 col-md-7">
                    {{ field|add_class:"form-control" }}
                    <label class="help-block text-danger" for="{{ field.name }}">{% for error in field.errors %} {{error}} {% endfor %}</label>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %} {{error}} {% endfor %}
            </div>
        {% endif %}
        <p class="bottom-note text-success">{% blocktrans %}Fields marked with an asterisk (*) are required.{% endblocktrans %}</p>
        <button type="submit" class="btn btn-default">{% blocktrans %}Submit{% endblocktrans %}</button>
    </form>
</div>
{% endblock %}
