{% extends "../../templates/base.html" %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2 class="main-title text-uppercase">IT Blog - sign in</h2>
    <div class="post col-lg-6">
        <form role="form">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox">Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block sidebars %}
    <div class="col-lg-3 col-md-4 col-sm-5 col-sx-12 sidebars">
    <div class="sidebar">
        <h3>New</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h3>Best</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h3>Top categories</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h3>Top tags</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
</div>
{% endblock %}