{% load i18n %}
<div class="user-content">
    <div class="user-avatar">
        {% if user.avatar %}
            <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="{{ user.username }}">
        {% else %}
            <i class="fa fa-user-secret" aria-hidden="true"></i>
        {% endif %}
    </div>
    <div class="user-info">
        <ul>
            <li>{% blocktrans %}First name:{% endblocktrans %} {% if user.first_name %}{{ user.first_name }}{% else %}{% blocktrans %}Not set{% endblocktrans %}{% endif %}</li>
            <li>{% blocktrans %}Last name:{% endblocktrans %} {% if user.last_name %}{{ user.last_name }}{% else %}{% blocktrans %}Not set{% endblocktrans %}{% endif %}</li>
            <li>{% blocktrans %}Posts:{% endblocktrans %}
                {% if user.post_set.count > 0 %}
                    {% load blog_tags %}
                    <a href="{% url 'user_posts' user.username %}">{{ user|approved_count }}</a>
                {% else %}
                    {{ user.post_set.count }}
                {% endif %}
            </li>
            <li>{% blocktrans %}Comments:{% endblocktrans %}
                {% if user.comment_set.count > 0 %}
                    <a href="{% url 'user_comments' user.username %}">{{ user.comment_set.count }}</a>
                {% else %}
                    {{ user.comment_set.count }}
                {% endif %}</li>
            <li>{% blocktrans %}Last seen:{% endblocktrans %} {{ user.last_login }}</li>
            <li>{% blocktrans %}Likes:{% endblocktrans %} {{ user.likes.count }}</li>
            <li>{% blocktrans %}Questions: (Soon){% endblocktrans %}</li>
        </ul>
        <div class="user-social">
            {% if user.website %}
                <a href="{{ user.website }}"><i class="fa fa-globe" aria-hidden="true"></i></a>
            {% endif %}
            {% if user.facebook %}
                <a href="{{ user.facebook }}"><i class="fa fa-facebook-square"></i></a>
            {% endif %}
            {% if user.gplus %}
                <a href="{{ user.gplus }}"><i class="fa fa-google-plus-square"></i></a>
            {% endif %}
            {% if user.twitter %}
                <a href="{{ user.twitter }}"><i class="fa fa-twitter-square"></i></a>
            {% endif %}
            {% if user.github %}
                <a href="{{ user.github }}"><i class="fa fa-github-square"></i></a>
            {% endif %}
            {% if user.vk %}
                <a href="{{ user.vk }}"><i class="fa fa-vk"></i></a>
            {% endif %}
        </div>
    </div>
</div>