{% extends "blog/base.html" %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request active="Users" %}
{% endblock %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
        {% for user in users %}
             <div class="user user-init">
                <h3 class="main-title text-uppercase"><a href="{% url 'user' user.username %}">User - {{ user.username }}</a></h3>
                {% include 'single_user.html' with user=user %}
             </div>
        {% endfor %}
        {% load pagination %}{% paginator users %}
    </div>
{% endblock %}