{% extends "base.html" %}
{% block nav %}
    {% include "navigation.html" with active="profile" %}
{% endblock %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <div class="user user-init">
            <h3 class="main-title text-uppercase">User - {{ user.username }}</h3>
            {% include 'single_user.html' with user=user %}
            <div class="user-personal-info">
                {% if user.personal_info %}
                    <h3 class="user-personal-info-header">About {{ user.username }}</h3>
                    {{ user.personal_info|safe }}
                {% else %}
                    <p>User {{ user.username }} told nothing about himself :(</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}