{% extends "blog/base.html" %}
{% load i18n %}
{% block title %}
    IT and Wisdom -
     {% if edit %}
        {% blocktrans %}Edit post{% endblocktrans %}
     {% else %}
        {% blocktrans %}Add post{% endblocktrans %}
     {% endif %}
{% endblock %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request %}
{% endblock %}
{% block main_content %}
    <div class="reg-container col-lg-9 col-md-8 col-sm-7 col-xs-12">
        {% if edit %}
            <h2 class="add">{% blocktrans %}Edit post{% endblocktrans %}</h2>
        {% else %}
            <h2 class="add">{% blocktrans %}Add post{% endblocktrans %}</h2>
        {% endif %}
        {% load staticfiles %}
        {{ form.media }}
        {% if not request.user.is_staff %}
            <script src="{% static 'blog/js/disable_ckeditor_upload.js' %}"></script>
        {% endif %}
        <form action="" method="POST" class="add-form form-horizontal" role="form">
            {% csrf_token %}
            {% load blog_tags %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error error{% endif %}">
                <label for="{{ field.name }}" class="col-lg-2 col-md-3 control-label">
                    {{ field.label }} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                </label>
                <div class="col-lg-9 col-md-9">
                    {{ field|add_class:"form-control" }}
                    <label class="help-block text-danger" for="{{ field.name }}">{% for error in field.errors %} {{error}} {% endfor %}</label>
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-md-12">
                    <p class="bottom-note text-success">{% blocktrans %}Fields marked with an asterisk (*) are required.{% endblocktrans %}</p>
                </div>
                <div class="col-lg-3 col-md-4 col-md-offset-8 col-lg-offset-8">
                    {% if edit %}
                        <button type="submit" class="btn btn-primary btn-block">{% blocktrans %}Edit post{% endblocktrans %}</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary btn-block">{% blocktrans %}Add post{% endblocktrans %}</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}