{% extends "blog/base.html" %}
{% block nav %}
    {% include "blog/navigation.html" with active="add" %}
{% endblock %}
{% block main_content %}
    <div class="reg-container col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <div class="alert alert-success">
            <strong>Success!</strong>
            <p>Your post is successfully added and waiting for moderation. You will receive email.</p>
            <p>You will be redirected in few seconds</p>
            <meta http-equiv="refresh" content="5;url={% url 'new_posts' %}" />
        </div>
    </div>
{% endblock %}