{% extends "blog/base.html" %}
{% block title %}
    IT and Wisdom - {{ type }}
{% endblock %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request %}
{% endblock %}
{% get_nav 'main' request %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2 class="main-title">IT and Wisdom - {{ type }}</h2>
    {% for res in result %}
    <div class="post">
        <h3 class="post-title"><a href="
        {% if tags %}
        {% url 'tag' res.slug %}
        {% else %}
        {% url 'category' res.slug %}
        {% endif %}
        ">{{ res.title }}</a></h3>
        <div class="post-content">
            {{ res.description | truncatewords_html:200 | safe }}
        </div>
    </div>
    {% endfor %}
    <div class="posts-pagination text-center">
        {% load pagination %}{% paginator result %}
    </div>
</div>
{% endblock %}