{% extends "base.html" %}
{% block nav %}
    {% load blog_tags %}
    {% include "navigation.html" with active="home" active_sub=type types=types %}
{% endblock %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2 class="main-title text-uppercase">IT Blog - {{ types|get:type }}</h2>
    {% for res in result %}
    <div class="post">
        <h3 class="post-title"><a href="{% url 'category' res.slug %}">{{ res.title }}</a></h3>
        <div class="post-content">
            {{ res.description | truncatewords_html:200 | safe }}
        </div>
    </div>
    {% endfor %}
    <div class="posts-pagination text-center">
        {% include "pagination.html" with obj=result %}
    </div>
</div>
{% endblock %}