{% extends "blog/base.html" %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request active="Add post" %}
{% endblock %}
{% load nav_tags %}
{% get_nav 'main' request active="Add post" %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2 class="main-title text-uppercase">IT Blog - {{ type }}</h2>
    {% for res in result %}
    <div class="post">
        <h3 class="post-title"><a href="{% url 'category' res.slug %}">{{ res.title }}</a></h3>
        <div class="post-content">
            {{ res.description | truncatewords_html:200 | safe }}
        </div>
    </div>
    {% endfor %}
    <div class="posts-pagination text-center">
        {% load pagination %}{% paginator result %}
    </div>
</div>
{% endblock %}