{% load mptt_tags %}
{% load i18n %}
{% if comments %}
    {% recursetree comments %}
    <div id="{{ node.id }}" class="comment comment-init col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <div class="comment-info">
            <div class="comment-author comment{{ node.id }}-author">
                <i class="fa fa-user "></i> <a href="{% url 'user' node.author.username %}">{{ node.author }}</a>
            </div>
            <div class="comment-datetime">
                {% load humanize %}
                {{ node.date_time|naturaltime }}
            </div>
        </div>
        <hr>
        <div class="comment-text">
            {{ node.text }}
        </div>
        <div class="comments-manage"></div>
        <div class="comment-reply">
            <a href="#"><i class="fa fa-reply"></i> {% blocktrans %}Reply{% endblocktrans %}</a>
        </div>
        {% if request.user == node.author or perms.blog.can_change_comment %}
            <div class="comment-edit">
                <a class="{{ node.id }}" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% blocktrans %}Edit{% endblocktrans %}</a>
            </div>
        {% endif %}
        {% if request.user == node.author or perms.blog.can_delete_comment %}
            <div class="comment-delete">
                <a class="{{ node.id }}" href=""><i class="fa fa-trash-o"></i> {% blocktrans %}Delete{% endblocktrans %}</a>
            </div>
        {% endif %}
        <div class="comment-replies">
            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
        </div>
    </div>
    {% endrecursetree %}
{% else %}
    <div class="comment col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <p>{% blocktrans %}No comments{% endblocktrans %}</p> <!-- TODO: Fix bug when editing via AJAX -->
    </div>
{% endif %}