{% load blog_tags %}
{% load i18n %}
<div class="post-datetime">
    {% load humanize %}
    <i class="fa fa-clock-o"></i> {{ post.date_time|naturalday }} {{ post.date_time|time:"H:i" }}
</div>
<div class="post-author">
    <i class="fa fa-user "></i> <a href="{% url 'user' post.author.username %}">{{ post.author }}</a>
</div>
<div class="post-like">
    Likes: <span class="likes{{ post.id }}">{{ post.likes.count }}</span>&nbsp;
    <a class="{{ request.user|liked:post }}{% if not request.user.is_authenticated %}anon{% endif %}" id="{{ post.id }}" href=""
        {% if request.user.is_authenticated %}
            title="{% blocktrans %}Like this post!{% endblocktrans %}">
        {% else %}
            title="{% blocktrans %}Sign in for voting!{% endblocktrans %}">
        {% endif %}
        <i class="fa fa-thumbs-o-up"></i>
    </a>
</div>
<div class="post-bookmark">
    <a class="{{ request.user|fav:post.id }}{% if not request.user.is_authenticated %}anon{% endif %}" id="{{ post.id }}" href="">
        <i class="fa fa-star-o"></i>
    </a>
    <span class="favs{{ post.id }}">{{ post.favorite.count }}</span>
</div>
<div class="post-views">
    <i class="fa fa-eye"></i> {{ post.views }}
</div>
{% if post.category %}
    <div class="post-category">
       <i class="fa fa-tag"></i><a href="{% url "category" post.category.slug %}"> {{ post.category }}</a>
    </div>
{% endif %}
{% if request.user == post.author or request.user.is_staff %}
    <div class="post-edit">
      <a href="{% url "edit_post" post.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% blocktrans %}Edit{% endblocktrans %}</a>
    </div>
{% endif %}
{% if request.user == post.author or request.user.is_staff %}
    <div class="post-delete">
      <a href="{% url "delete_post" post.slug %}"><i class="fa fa-trash-o" aria-hidden="true"></i> {% blocktrans %}Delete{% endblocktrans %}</a>
    </div>
{% endif %}
{% if not full %}
    <div class="post-more">
        <a href="{% url 'post' post.slug %}">{% blocktrans %}Read more{% endblocktrans %} <i class="fa fa-arrow-circle-o-right"></i></a>&nbsp;
    </div>
{% endif %}