{% load blog_tags %}
<div class="post-datetime">
    <i class="fa fa-clock-o"></i> {{ post.date_time }}
</div>
<div class="post-author">
    <i class="fa fa-user "></i> <a href="{% url 'user' post.author.username %}">{{ post.author }}</a>
</div>
<div class="post-like">
    Likes: <span class="likes{{ post.id }}">{{ post.likes.count }}</span>&nbsp;
    <a class="{{ request.user|liked:post }}{% if not request.user.is_authenticated %}anon{% endif %}" id="{{ post.id }}" href=""
        {% if request.user.is_authenticated %}
            title="Like this post!">
        {% else %}
            title="Sign in for voting!">
        {% endif %}
        <i class="fa fa-thumbs-o-up"></i>
    </a>
</div>
<div class="post-bookmark">
    <a class="{{ request.user|fav:post.id }}{% if not request.user.is_authenticated %}anon{% endif %}" id="{{ post.id }}" href="">
        <i class="fa fa-star-o"></i>
    </a>
    <span class="favs{{ post.id }}">{{ post.favorite.count }}</span>
</div>
<div class="post-views">
    <i class="fa fa-eye"></i> {{ post.views }}
</div>
<div class="post-category">
   <i class="fa fa-tag"></i><a href="{% url "category" post.category.slug %}"> {{ post.category }}</a>
</div>
{% if request.user == post.author or request.user.is_staff %}
    <div class="post-edit">
      <a href="{% url "edit_post" post.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
    </div>
{% endif %}
{% if not full %}
    <div class="post-more">
        <a href="{% url 'post' post.slug %}">read more <i class="fa fa-arrow-circle-o-right"></i></a>&nbsp;
    </div>
{% endif %}