{% extends "base.html" %}
{% block nav %}
    {% include "navigation.html" with active="home" %}
{% endblock %}
{% block main_content %}
 <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2 class="main-title text-uppercase">{{ post.title }}</h2>
    <div class="post">
        {% include "post_tags.html" with post=post %}
        <div class="post-content">
            {{ post.text|safe }}
        </div>
        <div class="post-info">
            {% include "post_info.html" with post=post full=True %}
        </div>
    </div>
    <div class="container comments">
        <h4>Comments:</h4>
        <div class="row">
            <div class="comment comment-init col-lg-9 col-md-8 col-sm-7 col-xs-12">
                <div class="comment-info">
                    <div class="comment-author">
                        <i class="fa fa-user "></i> <a href="../../users/templates/user.html">Admin</a>
                    </div>
                </div>
                <hr>
                <div class="comment-text">
                    Lorem ipsum Dolore dolore dolore magna fugiat ullamco id eiusmod adipisicing tempor ad.
                </div>
                <div class="comment-reply">
                    <a href=""><i class="fa fa-reply"></i> Reply</a>
                </div>
                <div class="comment-replies">
                    <div class="comment">
                        <div class="comment-info">
                            <div class="comment-author">
                                <i class="fa fa-user "></i> <a href="">User</a>
                            </div>
                        </div>
                        <hr>
                        <div class="comment-text">
                            Lorem ipsum Dolore dolore dolore magna fugiat ullamco id eiusmod adipisicing tempor ad.
                        </div>
                        <div class="comment-reply">
                            <a href=""><i class="fa fa-reply"></i> Reply</a>
                        </div>
                        <div class="comment-replies">
                            <div class="comment">
                                <div class="comment-info">
                                    <div class="comment-author">
                                        <i class="fa fa-user "></i> <a href="../../users/templates/user.html">Admin</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="comment-text">
                                    Lorem ipsum Dolore dolore dolore magna fugiat ullamco id eiusmod adipisicing tempor ad.
                                </div>
                                <div class="comment-reply">
                                    <a href=""><i class="fa fa-reply"></i> Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col-md-5 comment-form">
                <fieldset>
                    <div class="form-group">
                        <label for="comment">Add comment:</label>
                    </div>
                    <div class="form-group">
                        <textarea name="comment" id="comment" cols="100" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block sidebars %}
    <div class="col-lg-3 col-md-4 col-sm-5 col-sx-12 sidebars">
        <div class="sidebar">
            <h3>New</h3>
            <ul class="sidebar-posts">
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                <li><a href="">Lorem ipsum dit dolor amet</a></li>
            </ul>
        </div>
    <div class="sidebar">
        <h3>Best</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h3>Top categories</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h3>Top tags</h3>
        <ul class="sidebar-posts">
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
            <li><a href="">Lorem ipsum dit dolor amet</a></li>
        </ul>
    </div>
</div>
{% endblock %}