{% extends "blog/base.html" %}
{% load i18n %}
{% block title %}
    IT and Wisdom - {{ post.title }}
{% endblock %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request %}
{% endblock %}
{% load nav_tags %}
{% get_nav 'main' request %}
{% block main_content %}
 <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h1 class="main-title">{{ post.title }}</h1>
    <div class="post">
        {% include "post_tags.html" with post=post %}
        <div class="post-content">
            {{ post.text|safe }}
        </div>
        <div class="post-info">
            {% include "post_info.html" with post=post full=True %}
        </div>
    </div>
    <div class="container comments">
        <h4 class="comments-title">{% blocktrans %}Comments:{% endblocktrans %}</h4>
        <div data-post-id="{{ post.id }}" class="refresh">
            <a href="" title="{% blocktrans %}Refresh comments{% endblocktrans %}">
                <span class="fa-stack fa-lg pull-left">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                 </span>
            </a>
        </div>
        <div class="row comments-container">
            {% include 'comments.html' with comments=comments %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="row">
                <form method="post" action="{% url 'post' post.slug %}" class="col-md-5 comment-form">
                    {{ comment_form }}
                    {% csrf_token %}
                    <button data-post-id="{{ post.id }}" type="submit" class="btn btn-primary">{% blocktrans %}Submit{% endblocktrans %}</button>
                    <input class="btn btn-clear btn-primary" type="button" value="{% blocktrans %}Clear{% endblocktrans %}">
                </form>
            </div>
        {% else %}
            <div class="row">
                <p class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                    {% blocktrans %}You need to{% endblocktrans %} <a href="{% url 'sign_in' %}">{% blocktrans %}sign in</a>
                    or{% endblocktrans %} <a href="{% url 'sign_up' %}">{% blocktrans %}sign up</a>
                    to add comment{% endblocktrans %}
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}