{% extends "blog/base.html" %}
{% load i18n %}
{% block title %}
    IT and Wisdom - {{ type }}
{% endblock %}
{% block nav %}
    {% load nav_tags %}
    {% get_nav 'main' request %}
{% endblock %}
{% block main_content %}
    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
        <h1 class="main-title">
            IT and Wisdom - {% if type %}{{ type }}{% endif %} {{ additional }}
        </h1>
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title"><a href="{% url 'post' post.slug %}">{{ post.title }}</a></h2>
            <div class="post-tags">
                {% include "post_tags.html" with post=post %}
            </div>
            <div class="post-content">
                {% if post.excerpt %}
                    {{ post.excerpt | truncatewords_html:150 | safe }}
                {% else %}
                    {{ post.text | truncatewords_html:150 | safe }}
                {% endif %}
            </div>
            <div class="post-info">
                {% include "post_info.html" with post=post %}
            </div>
        </div>
         {% empty %}
            {% blocktrans %} No posts to show :( {% endblocktrans %}
        {% endfor %}
        {% load pagination %}{% paginator posts %}
    </div>
{% endblock %}
