{% load i18n %}
<div class="col-lg-3 col-md-4 col-sm-5 col-sx-12 sidebars">
    <div class="sidebar">
        <h3>{% blocktrans %}New{% endblocktrans %}</h3>
        <ul class="sidebar-posts">
            {% for post in new %}
                <li><a href="{% url 'post' post.slug %}">{{ post.title }}</a></li>
            {% empty %}
                {% blocktrans %} No posts to show :( {% endblocktrans %}
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar">
        <h3>{% blocktrans %}Best{% endblocktrans %}</h3>
        <ul class="sidebar-posts">
            {% for post in best %}
                <li><a href="{% url 'post' post.slug %}">{{ post.title }}</a></li>
            {% empty %}
                {% blocktrans %} No posts to show :( {% endblocktrans %}
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar">
        <h3>{% blocktrans %}Top categories{% endblocktrans %}</h3>
        <ul class="sidebar-posts">
            {% for post in top_categories %}
                <li><a href="{% url 'category' post.slug %}">{{ post.title }}</a></li>
            {% empty %}
                {% blocktrans %} Categories posts to show :( {% endblocktrans %}
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar">
        <h3>{% blocktrans %}Top tags{% endblocktrans %}</h3>
        <ul class="sidebar-posts">
            {% for post in top_tags %}
                <li><a href="{% url 'tag' post.slug %}">{{ post.title }}</a></li>
            {% empty %}
                {% blocktrans %} No tags to show :( {% endblocktrans %}
            {% endfor %}
        </ul>
    </div>
</div>