{% load i18n %}
<ul class="actionlist">
    {% for post in posts %}
        <li>
            <a href="{% url 'admin:blog_post_change'  post.id %}">{{ post.title }}</a>
            <br/>
            <span class="mini quiet"><a href="{% url 'admin:users_user_change'  post.author.id %}">{{ post.author }}</a> {% blocktrans %}at{% endblocktrans %} {{ post.date_time }}</span>
        </li>
    {% empty %}
        <li>{% blocktrans %}No posts to show :({% endblocktrans %}</li>
    {% endfor %}
    {% if remaining %}
        <li class="mini ">{% blocktrans %}And {{ remaining }} more{% endblocktrans %}</li>
    {% endif %}
    <li><a href="{% url 'admin:blog_post_changelist' %}?approved__exact=0">{% blocktrans %}See all{% endblocktrans %}</a></li>
</ul>
