<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="base.html"><img src="images/logo_transparent.png" alt=""> IT Blog</a>
        </div><!-- navbar-header-->
    </nav>
    <div id="wrapper" class="toggled-2">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-home fa-stack-1x "></i></span>Blog</a>
                       <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li class="active_sub">
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-eye fa-stack-1x "></i>
                                </span> Most Viewed
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-clock-o fa-stack-1x "></i>
                                </span> New
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-thumbs-up fa-stack-1x "></i>
                                </span> Best
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-tag fa-stack-1x"></i>
                                </span> Categories
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-tags fa-stack-1x"></i>
                                </span> Tags
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-user fa-stack-1x "></i>
                        </span> Profile
                    </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="sign_in.html"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-in fa-stack-1x "></i></span>Sign in</a></li>
                        <li><a href="sign_up.html"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-plus fa-stack-1x "></i></span>Sign up</a></li>

                    </ul>
                </li>
                <li>
                    <a href="users.html">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-users fa-stack-1x"></i>
                        </span> Users
                    </a>
                </li>
                <li>
                    <a href="add_post.html">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-plus fa-stack-1x"></i>
                        </span> Add post
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-search fa-stack-1x "></i>
                        </span> Search
                    </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li>
                            <div class="row">
                                <form class="col-lg-9 col-md-10 col-sm-10 col-xs-10 navbar-form navbar-left" role="search">
                                    <input type="text" class="form-control" placeholder="Search">
                            </form>
                            </div>
                            
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-question-circle fa-stack-1x "></i>
                        </span>QA
                    </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>Soon</li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-commenting fa-stack-1x "></i>
                        </span>Forum
                    </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>Soon</li>
                    </ul>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-info-circle fa-stack-1x "></i></span>About Us</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contacts</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="placeholder" style="height:100; display:none;"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="post-wrap col-lg-9 col-md-8 col-sm-7 col-xs-12">
                        <div class="user user-init">
                            <h3 class="main-title text-uppercase">User - Admin</h3>
                            <div class="user-content">
                                <div class="user-avatar">
                                    <img src="http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2015/12/anonymous.jpg" alt="">
                                </div>
                                <div class="user-info">
                                    <ul>
                                        <li>First name: Admin</li>
                                        <li>Last name: Adminyan</li>
                                        <li>Email: root@localhost.local</li>
                                        <li>Posts: <a href="base.html">4534</a></li>
                                        <li>Comments: <a href="#">459</a></li>
                                        <li>Last seen: 08-04-16 23:55</li>
                                        <li>Likes: 4045</li>
                                        <li>Questions: (Soon)</li>
                                    </ul> 
                                    <div class="user-social">
                                        <a href=""><i class="fa fa-facebook-square"></i></a>
                                        <a href=""><i class="fa fa-google-plus-square"></i></a>
                                        <a href=""><i class="fa fa-twitter-square"></i></a>
                                        <a href=""><i class="fa fa-github-square"></i></a>
                                        <a href=""><i class="fa fa-vk"></i></i></a>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-lg-3 col-md-4 col-sm-5 col-sx-12 sidebars">
                        <div class="sidebar">
                            <h3>New</h3>
                            <ul class="sidebar-posts">
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                            </ul>
                        </div>
                        <div class="sidebar">
                            <h3>Best</h3> 
                            <ul class="sidebar-posts">
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                            </ul>
                        </div>
                        <div class="sidebar">
                            <h3>Top categories</h3> 
                            <ul class="sidebar-posts">
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                            </ul>
                        </div>
                        <div class="sidebar">
                            <h3>Top tags</h3> 
                            <ul class="sidebar-posts">
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                                <li><a href="">Lorem ipsum dit dolor amet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-5">
                     © IT Blog 2016
                </div>
                <div class="col-md-7 col-xs-7 social">
                     <a href=""><i class="fa fa-facebook-square"></i></a>
                     <a href=""><i class="fa fa-google-plus-square"></i></a>
                     <a href=""><i class="fa fa-twitter-square"></i></a>
                     <a href=""><i class="fa fa-github-square"></i></a>
                </div>
            </div>
        </div>
    </div>   
    <!-- /#wrapper -->
    <!-- jQuery -->
</body>
</html>