media
*.pyc
*.mo
*.sqlite3
it_blog/secret_key.py
.idea/*
PKGBUILD
static/*
!static/blog
!static/navigation
!static/bootstrap
!static/font-awesome
!static/jquery-1.12.4.min.js
it_blog/production_settings.py
