<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}?v=3"/>
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'blog/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>
        var csrf ='{{ csrf_token }}'
    </script>
</head>
<body>
    <nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'blog/images/new_logo.png' %}" alt="IT and Wisdom Ամեն ինչ ՏՏ-ի մասին"></a>
        </div><!-- navbar-header-->
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {% block nav %}
            {% endblock %}
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="placeholder" style="height:100; display:none;"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    {% block main_content %}

                    {% endblock %}
                     <div class="clearfix visible-xs"></div>

                    {% load sidebar %}
                    {% get_sidebar %}
                </div>
            </div>

        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-5">
                     © itandwisdom.com {% now "Y" %}
                </div>
                <div class="col-md-7 col-xs-7 social">
                     {% load nav_tags %}
                    {% get_nav 'footer_social' request %}
                </div>
            </div>
        </div>
    </div>   
    <!-- /#wrapper -->
    <!-- jQuery -->
</body>
</html>