<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li class="{% if active == 'home' %} active{% endif %}">
        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-home fa-stack-1x "></i></span>Blog</a>
           <ul class="nav-pills nav-stacked" style="list-style-type:none;">
           {% load blog_tags %}
            <li class="{% if active_sub == "new" %}active_sub{% endif %}">
                <a href="{% url 'new_posts' %}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-clock-o fa-stack-1x "></i>
                    </span> New
                </a>
            </li>
            <li class="{% if active_sub == "most_viewed" %}active_sub{% endif %}">
                <a href="{% url 'most_viewed_posts' %}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-eye fa-stack-1x "></i>
                    </span> Most Viewed
                </a>
            </li>
            <li class="{% if active_sub == "best" %}active_sub{% endif %}">
                <a href="{% url 'best_posts' %}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-thumbs-up fa-stack-1x "></i>
                    </span> Best
                </a>
            </li>
            <li class="{% if active_sub == "categories" %}active_sub{% endif %}">
                <a href="{% url 'categories' %}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-tag fa-stack-1x"></i>
                    </span> Categories
                </a>
            </li>
            <li class="{% if active_sub == "tags" %}active_sub{% endif %}">
                <a href="{% url 'tags' %}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-tags fa-stack-1x"></i>
                    </span> Tags
                </a>
            </li>
        </ul>
    </li>
    <li class="{% if active == 'Profile' %} active{% endif %}">
        <a href="{% url 'profile' %}">
            <span class="fa-stack fa-lg pull-left">
                <i class="fa fa-user fa-stack-1x "></i>
            </span> Profile
        </a>
        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li class="{% if active_sub == 'sign_in' %}active_sub{% endif %}">
                <a href="{% url 'sign_in' %}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-in fa-stack-1x "></i></span>Sign in</a>
            </li>
            <li class="{% if active_sub == 'sign_up' %}active_sub{% endif %}">
                <a href="{% url 'sign_up' %}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-plus fa-stack-1x "></i></span>Sign up</a>
            </li>

        </ul>
    </li>
    <li class="{% if active == 'users' %} active{% endif %}">
        <a href="{% url 'users' %}">
            <span class="fa-stack fa-lg pull-left">
                <i class="fa fa-users fa-stack-1x"></i>
            </span> Users
        </a>
    </li>
    <li class="{% if active == 'add' %} active{% endif %}">
        <a href="{% url 'add_post' %}">
            <span class="fa-stack fa-lg pull-left">
                <i class="fa fa-plus fa-stack-1x"></i>
            </span> Add post
        </a>
    </li>
    <li class="{% if active == 'search' %} active{% endif %}">
        <a href="#">
            <span class="fa-stack fa-lg pull-left">
                <i class="fa fa-search fa-stack-1x "></i>
            </span> Search
        </a>
        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li>
                <div class="row">
                    <form class="col-lg-9 col-md-10 col-sm-10 col-xs-10 navbar-form navbar-left" role="search">
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </div>
            </li>
        </ul>
    </li>
    <li class="{% if active == 'qa' %} active{% endif %}">
        <a href="#">
            <span class="fa-stack fa-lg pull-left">
                <i class="fa fa-question-circle fa-stack-1x "></i>
            </span>QA
        </a>
        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>Soon</li>
        </ul>
    </li>
    <li class="{% if active == 'forum' %} active{% endif %}">
        <a href="#">
            <span class="fa-stack fa-lg pull-left">
                <i class="fa fa-commenting fa-stack-1x "></i>
            </span>Forum
        </a>
        <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>Soon</li>
        </ul>
    </li>
    <li class="{% if active == 'about' %} active{% endif %}">
        <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-info-circle fa-stack-1x "></i></span>About Us</a>
    </li>
    <li class="{% if active == 'contacts' %} active{% endif %}">
        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contacts</a>
    </li>
</ul>